
// Image Comparison Slider

$gisc-handle-width: 24px;
$gisc-handle-line-width: 4px;
$gisc-handle-color: #ffffff;
$gisc-handle-color-active: #e0e0e0;
$gisc-handle-accent-color: #757575;
$gisc-handle-accent-color-active: #757575;
$gisc-handle-accent-color-disabled: #bbbbbb;
$gisc-handle-texture-size: 3px;
$gisc-handle-texture-shadow-spacing: 2 * $gisc-handle-texture-size;

.gicsw {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gicsi {
  height: 100%;
}

.gicsh {
  position: absolute;
  top: 0;
  width: $gisc-handle-line-width;
  height: 100%;
  background-color: $gisc-handle-color;
  transition: background-color .2s;
  transform: translateX(-50%);
  cursor: ew-resize;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
  }

  &:before {
    left: -($gisc-handle-width / 2 - $gisc-handle-line-width / 2);
    width: $gisc-handle-width;
    height: 36px;
    border-radius: 4px;
    background-color: $gisc-handle-color;
    transition: background-color .2s;
    transform: translateY(-50%);
  }

  &:after {
    left: 0;
    width: $gisc-handle-texture-size;
    height: $gisc-handle-texture-size;
    border-radius: 999px;
    background-color: $gisc-handle-accent-color;
    box-shadow:
      $gisc-handle-texture-shadow-spacing 0 $gisc-handle-accent-color,
      0 (-$gisc-handle-texture-shadow-spacing) $gisc-handle-accent-color,
      $gisc-handle-texture-shadow-spacing (-$gisc-handle-texture-shadow-spacing) $gisc-handle-accent-color,
      0 $gisc-handle-texture-shadow-spacing $gisc-handle-accent-color,
      $gisc-handle-texture-shadow-spacing $gisc-handle-texture-shadow-spacing $gisc-handle-accent-color;
    transform: translate(-(((3 * $gisc-handle-texture-size) / 2 - $gisc-handle-line-width / 2) / $gisc-handle-texture-size * 100%), -50%)
  }

  &.gicsh-a {
    background-color: $gisc-handle-color-active;
    transition: background-color 0s;

    &:before {
      background-color: $gisc-handle-color-active;
      transition: background-color 0s;
    }
  }

  &.gicsh-dis {
    background-color: $gisc-handle-accent-color-disabled;
    cursor: default;

    &:before {
      background-color: $gisc-handle-accent-color-disabled;
    }
  }
}
